/* common.css */

body {
    background-color: #f3e5ff;
    font-family: "Roboto", sans-serif;
}

header {
    text-align: center;
    padding: 35px;
}

/* h1,
h2,
p,
a {
    font-family: "Roboto", sans-serif;
}
전체 요소들의 폰트를 바꾸려고 body에다 넣어줌
 */