body,h1,h2,li,ul,p {
    margin: 0;
}

body {
    background-color: #272521;
    color: #f39b41;
    font-family: "Open Sans", sans-serif;
}

main {
    overflow: hidden;
}

#main-header {
    height: 5rem;
    padding: 0 5%;
    background-color: #1b1917;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-header ul {
    font-size: 1.25rem;
    display: flex;
    padding: 0;
}

#main-header li {
    padding: 0 1rem;
}

#main-header nav a:hover {
    color: rgb(228, 163, 44);
}

#main-header ul li a {
    color: #f39b41cc;
}

#page-logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: #f39b41;
}

li {
    list-style: none;
}