div {
    background-color: #c7c7c7;
    padding: 20px;
    text-align: center;
}

p {
    margin: 0;
    padding: 50px;
    font-weight: bold;
}

#container {
    background-color: #521751;
/*     position: relative; */
}

#container p {
    color: white;
}

#one {
    background-color: rgb(108, 45, 255);
}

#two {
    background-color: rgb(132, 79, 255);
    position: absolute;
    top: 0;
}

#three {
    background-color: rgb(161, 120, 255);
}