body {
    margin: 0;
    font-family: "Open-Sans", sans-serif;
    font-weight: bold;
    color: rgb(44, 41, 44);
    background-color: rgb(247, 239, 247);
}

main {
    margin-top: 4rem;
}

#main-header {
    background-color: rgb(140, 0, 255);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(140, 0, 255);
    border: 1px solid rgb(140, 0, 255);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt {
    background-color: transparent;
    border: transparent;
    color: rgb(140, 0, 255);
}

.btn:hover {
    background-color: rgb(79, 10, 190);
    border-color: rgb(79, 10, 190);
}

.btn-alt:hover {
    background-color: rgb(230, 201, 252);
    border-color: transparent;
}

#game-configuration ol {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
/* Flex 로 display 하는게 맞는지? */

#game-configuration li {
    background-color: rgb(238, 218, 255);
    text-align: center;
    list-style-type: none;
    padding: 0.5rem 6rem;
    box-shadow: 4px 4px 4px rgba(122, 118, 122, 0.15);
}
/* box-shadow 확인 */

#startbtn {
    display: block;
    margin: 2rem auto 0 auto;
}


/* 레이아웃을 위해 임시로 none 처리 */
aside {
    display: none;
    background-color: white;
    text-align: center;
}
/* JS로 유효성 검사 필요  */


/* 레이아웃을 위해 임시로 none 처리 */
#active-game {
    display: none;
    text-align: center;
}

#active-game ol {
    margin: 0 auto;
    display: grid;
    list-style-type: none;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    height: 25rem;
    width: 25rem;
}

#active-game li {
    background-color: rgb(238, 218, 255);
}